<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width">
  <title>YDK Condenser</title>
</head>

<body>
    {{> defaultContent }}
    {{> CH1 }}
</body>

</html>
